<%= link_to job_posting_path(job_posting), class: "job-card-link" do %>
  <div class="job-card">
    <div class="job-badges">
      <% if job_posting.country.present? %>
        <span class="badge location-badge"><%= job_posting.country %></span>
      <% end %>
      <% case job_posting.visa_requirement %>
      <% when 'required' %>
        <span class="badge rtw-badge">Right to work required</span>
      <% when 'not_required' %>
        <span class="badge rtw-not-required-badge">No right to work required</span>
      <% when 'unknown' %>
        <span class="badge rtw-unknown-badge">Visa requirements unknown</span>
      <% end %>
    </div>
    
    <h3 class="job-title"><%= job_posting.title %></h3>
    <p class="job-summary"><%= job_posting.summary %></p>
    <div class="job-meta">
      <p class="job-date">Posted: <%= job_posting.formatted_date_posted %></p>
    </div>
  </div>
<% end %>