<div class="container">
  <div class="filters-section">
    <%= form_with url: root_path, method: :get, local: true, class: "filters-form" do |form| %>
      <div class="filter-group">
        <h4 class="filter-title">Countries</h4>
        <div class="checkbox-group">
          <% @available_countries.each do |country| %>
            <div class="checkbox-item">
              <%= check_box_tag "countries[]", country, 
                  (params[:countries] || []).include?(country), 
                  { class: "filter-checkbox", id: "country_#{country.parameterize}", onchange: "this.form.submit();" } %>
              <%= label_tag "country_#{country.parameterize}", country, class: "checkbox-label" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter-group">
        <h4 class="filter-title">Visa Requirements</h4>
        <div class="checkbox-group">
          <% @available_visa_requirements.each do |visa_req| %>
            <div class="checkbox-item">
              <% display_text = case visa_req
                   when 'required' then 'Right to work required'
                   when 'not_required' then 'No right to work required'
                   when 'unknown' then 'Unknown'
                   else visa_req
                   end %>
              <%= check_box_tag "visa_requirements[]", visa_req, 
                  (params[:visa_requirements] || []).include?(visa_req), 
                  { class: "filter-checkbox", id: "visa_#{visa_req}", onchange: "this.form.submit();" } %>
              <%= label_tag "visa_#{visa_req}", display_text, class: "checkbox-label" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter-actions">
        <%= link_to "Clear All Filters", root_path, class: "clear-filters" %>
      </div>
    <% end %>
  </div>

  <div class="job-listings">
    <% @job_postings.each do |job_posting| %>
      <%= render 'job_card', job_posting: job_posting %>
    <% end %>
  </div>

  <% if @job_postings.empty? %>
    <% if (params[:countries].present? && params[:countries].any?(&:present?)) || (params[:visa_requirements].present? && params[:visa_requirements].any?(&:present?)) %>
      <p class="empty-state">No jobs found matching your filters. <%= link_to "Clear filters", root_path, class: "url-link" %> to see all jobs.</p>
    <% else %>
      <p class="empty-state">No jobs posted yet.</p>
    <% end %>
  <% end %>
</div>